#featuredWidget{
-webkit-perspective: 1150px;
-webkit-perspective-origin: 50% 50%;
}
#fpane{
-webkit-transform-style: preserve-3d;
position:relative !important;
-webkit-animation-name: rotation;
   -webkit-animation-timing-function: ease;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 15s;
}

@-webkit-keyframes rotation
{
   from, to {  }
   10%, 25% { -webkit-transform: rotateX(-90deg); }
   35%, 50% { -webkit-transform: rotateX(-180deg); }
   60%, 75% { -webkit-transform: rotateX(-270deg); }
   85%, 100% { -webkit-transform: rotateX(-360deg); }
}

#fpane div{
position:absolute;
}

#fpane div.p0{
-webkit-transform: rotateX(90deg) translateZ(200px);
-moz-transform: rotateX(90deg) translateZ(200px);
background-image: url('http://static1.betabrand.com/all/proxy/get/url/aHR0cDovL2xoMy5nZ3BodC5jb20vLVZhNW9FOWtJOTdzL1RfdUhDNlJZQS1JL0FBQUFBQUFCVy04L3N6UHg3UHhXTDl3L3MxNjAwL0JsdWVsaW5lbktDXzExNTB4NTUwLmpwZw,,');
}

#fpane div.p1 {
-webkit-transform: translateZ(200px);
-moz-transform: translateZ(200px);
}

#fpane div.p2 {
-webkit-transform: rotateY(90deg) translateZ(200px);
-moz-transform: rotateY(90deg) translateZ(200px);
text-align: center;
}

#fpane div.p3 {
-webkit-transform: rotateY(180deg) translateZ(200px);
-moz-transform: rotateY(180deg) translateZ(200px);
}

#fpane > div:nth-child(5) {
-webkit-transform: rotateY(-90deg) translateZ(200px);
-moz-transform: rotateY(-90deg) translateZ(200px);
}
